body {
    font-family: 'Montserrat',sans-serif;
}

#title {
  background-color: #ff4c68;
  color: #fff;
  text-align: left;
}


h1{
  font-family: 'Montserrat';
  font-weight: 900;
  font-size: 3rem;
  line-height: 1.5;
}

h2{
  font-family: 'Ubuntu';
  font-weight: 900;
  font-size: 3rem;
  line-height: 1.5;
}

h3 {
    font-weight: 700;
    font-size: 2.5rem;
}



p {
    color: #8f8f8f;
}

.big-heading {
    font-weight: 900;
    font-size: 3.5rem;
    line-height: 1.5;

}

.container-fluid1{
  width: 100%;
  padding-right: 15%;
  padding-left: 15%;
  margin-right: auto;
  margin-left: auto;
}


/* Navigation Bar  */
.navbar {
  padding: 0 0 4.5rem;

}
.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight:bold;
}

.nav-item {
  padding: 0 19px;
}

.nav-link {


    font-size: 1.2rem;
    font-weight: 300;
}

/* Download button */

.download-button{
  margin: 5% 3% 5% 0;
}

/* title_image */

.title_image{
  width: 60%;
  transform: rotate(25deg);

}
